<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>曲线图</title>
    <script src="https://m.ctrip.com/webapp/mkt/app-channel-statistics/src/echarts.js"></script>
    <script src="https://m.ctrip.com/webapp/mkt/app-channel-statistics/src/require.js"></script>
    <script src="https://m.ctrip.com/webapp/mkt/app-channel-statistics/src/jquery-1.4.2.min.js"></script>
    <style>
        /* CSS Document */
        body {
            color: #616161;
            font-size: 12px;
            line-height: 200%;
            font-family: Arial,Helvetica,'Microsoft YaHei','宋体';
        }

        body, form, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, fieldset {
            margin: 0;
            padding: 0;
        }

        a {
            color: #000000;
            text-decoration: none;
            outline: none;
        }

            a:hover {
                text-decoration: underline;
            }

        .dis_none {
            display: none;
        }

        .tab_main {
            position: relative;
            width: 540px;
            height: 200px;
            margin: 0 auto;
        }
        /*选项卡*/
        .left_titul {
            color: #000000;
            height: 22px;
            line-height: 22px;
            clear: both;
            width: 476px;
            border-bottom: #f0f0f0 solid 1px;
        }

            .left_titul p {
                border-left: #e0e4e6 solid 1px;
                clear: both;
                width: auto;
                overflow: hidden;
            }

                .left_titul p a {
                    float: left;
                    padding: 0px 12px;
                    background: #f5f5f5;
                    border-top: #e0e4e6 solid 1px;
                    border-right: #e0e4e6 solid 1px;
                    cursor: pointer;
                    font-size: 13px;
                    width: 70px;
                    height: 21px;
                    text-align: center;
                }

                    .left_titul p a.on {
                        background: #fff;
                        height: 20px;
                        font-weight: bold;
                    }

        .tab_new {
            /*position: absolute;*/
            top: 28px;
            background: #fff;
            /*border: 1px solid #e0e4e6;*/
            border-top: none;
        }

        .other_box {
            margin: 0 10px;
            position: relative;
            overflow:hidden;
            margin-top:15px;
        }

        .red {
            color: #FF0600;
        }

        .left {
            text-align: left;
        }
        .d_a_title .go{border-bottom:2px solid #378bff}
        .d_a_title .back{border-bottom:2px solid green;margin-left:10px;}
        .list{border-bottom:1px dashed #ccc;display: inline-block;margin-left: 20px;}
    </style>
</head>
<body>
<div id="list">
	<div name="slide" class="tab_main0 list">
        <div class="other_box" style="display:none;">
            <div style="width:250px;height:30px;color:black; font-size:13px; float:left" class="d_a_title"><span class="go"></span><span class="back"></span></div>
        </div>
        <div class="tab_new" name="slideCont">
            <div id="go0" style="width: 540px; height: 137px;"></div>
        </div>
        <div class="tab_new dis_none" name="slideCont">
            <div id="back" style="width: 540px; height: 137px;"></div>
        </div>
    </div>
</div>

    <script>
        (function () {
        	var goMarkData = '';
        	var backMarkData = '';
        	
        	var goPrice = '';
        	var backPrice = '';
        	
        	var listnum = 0;
        	
        	var cityData = {$citys};
        	var oncity   = {$oncity};
        	
        	
            var cQuery = {
                jsonpResponse: ""
            };
            window.cQuery = cQuery;

            var tools = {
                _loadJS: function (src, callback) {
                    var script = document.createElement('script');
                    script.setAttribute('src', src);
                    // 把script标签加入head，此时调用开始
                    document.getElementsByTagName('head')[0].appendChild(script);
                    script.onload = function () {
                        callback && callback(cQuery);
                    }
                },
                _ajax: function (param, callback) {
                	if(param){
                		jQuery.ajax({
                            type: 'post',
                            url: '//m.ctrip.com/restapi/soa2/10400/json/FlightIntlAndInlandLowestPriceSearch',
                            data: '{"dcty":"' + param.dcty + '","acty":"' + param.acty + '","stype":"' + param.stype + '"}',
                            contentType: 'application/json',
                            success: function (data) {
                                callback && callback(data,param);
                            },
                            error: function () {

                            }
                        })
                	}
                },
                _getQuery: function (name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return decodeURI(r[2]); return null;
                },
                _initCity: function () {
                    var _this = this;
                    var dname = oncity['city'] || '北京',//出发城市名称
                        aname = cityData[listnum]['city'] || '上海',//到达城市名称
                        dcode = oncity['suoxie'] || 'bjs',//出发城市三字码
                        acode = cityData[listnum]['suoxie'] || 'SHA'; //到达城市三字码
                    SearchType = _this._getQuery('SearchType') || 1; //1-国内 2-国际
                    if(dcode == acode)return false;
                    this._getData(dcode, acode, dname, aname, SearchType);
                    var title = dname + ' - ' + aname;
                    var backtitle = aname + ' - ' + dname;
                    
                    getChartHtml();
                    
                    /*$('.tab_main'+listnum+' .d_a_title .go').text(title);
                    $('.tab_main'+listnum+' .d_a_title .back').text(backtitle);*/
                    
                    //document.getElementById('d_a_title').innerHTML = title;
                },
                _dataConverWeek: function (date) {
                    var weekDay = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
                    var dateStr = date;
                    var myDate = new Date(Date.parse(dateStr.replace(/-/g, "/")));
                    return weekDay[myDate.getDay()];
                },
                _getData: function (depart, arrive, dname, aname, SearchType) {
                    var _this = this;
                    //goUrl = 'http://openapi.ctrip.com/logicsvr/AjaxServerNew.ashx?datatype=jsonp&callProxyKey=getflightintlandinlandlowestpricesearch&requestJson={"AllianceID": "1","SID": "50","SecretKey": "abcDFG645354","SearchType": ' + SearchType + ', "DepartCityCode": "' + depart + '", "ArriveCityCode": "' + arrive + '", "Flag": 0}&userId=&tmp=1452147311503',
                    //backUrl = 'http://openapi.ctrip.com/logicsvr/AjaxServerNew.ashx?datatype=jsonp&callProxyKey=getflightintlandinlandlowestpricesearch&requestJson={"AllianceID": "1","SID": "50","SecretKey": "abcDFG645354","SearchType": ' + SearchType + ', "DepartCityCode": "' + arrive + '", "ArriveCityCode": "' + depart + '", "Flag": 0}&userId=&tmp=1452147311503';
                    
                    var goData = { dcty: depart, acty: arrive,dname: dname, aname: aname, stype: SearchType }, //去程传参
                        backData = { dcty: arrive, acty: depart,dname: dname, aname: aname, stype: SearchType }; //返程传参
                    _this._ajax(goData, echartInit);
                    //tools._loadJS(goUrl, echartInit);
                    // setTimeOut
                    setTimeout(function () {
                        //tools._loadJS(backUrl, echartBackInit);
                        _this._ajax(backData, echartBackInit);
                    }, 3000)
                }
            }

            //扩展jq组件
            /*$.fn.extend({
                //选项卡
                tabControl: function (tab, con, mor) {
                    $(this).each(function () {
                        var _method = this;
                        $(this).find(tab).click(function () {
                            if (this.className == 'more') { return false; }
                            $(this).addClass('on').siblings().removeClass('on');
                            $(_method).find(con).addClass('dis_none');
                            $(_method).find(con).eq($(this).index()).removeClass('dis_none');
                            var dname = tools._getQuery('dcity') || '北京',//出发城市名称
                                aname = tools._getQuery('acity') || '上海';//到达城市名称
                            if ($(this).index() == 1) {
                                var title = aname + ' - ' + dname + ' 价格趋势';
                                $('.tab_main'+listnum+' .d_a_title .go').text(title);
                                //document.getElementById('d_a_title').innerHTML = title;
                            } else {
                                var title = dname + ' - ' + aname + ' 价格趋势';
                                $('.tab_main'+listnum+' .d_a_title .back').text(title);
                                //document.getElementById('d_a_title').innerHTML = title;
                            }
                            //$(_method).find(tab+'.more').removeClass('on');
                            return false;
                        });
                        $(this).find(mor).click(function () {
                            window.location.href = $(this).attr('href');
                        });
                    });
                }
            });
            $("div[name='slide']").tabControl("*[name='slideTag'] a", "*[name='slideCont']", '.more');*/

            //去程
            function echartInit(obj,param) {
                var data = [], price = [], priceList = [], datas = {}, count=0, index=0;
                if(obj.prices.length == 0)return false;
                priceList = obj.prices.slice(0, 30);
                var max = priceList[0].price, min = max;
                for (var i = 0; i < priceList.length; i++) {
                    if (priceList[i].price != 0) {
                        count += priceList[i].price
                    } else {
                        index++;
                    }
                    if (priceList[i].price > max)
                        max = priceList[i].price;
                    if (priceList[i].price < min)
                        min = priceList[i].price;
                    var datas = {
                        value: priceList[i].dDate.substr(5, 5),
                        textStyle: {
                            "align": 'center'
                        }
                    };
                    data[i] = datas;
                    data[0].textStyle.align = 'left';
                    var dataclass = {
                        value: priceList[i].price
                    };
                    price[i] = dataclass;
                }
                if (priceList[0].price == 0) {
                    price[0].value = count / (30 - index);
                }
                var go = document.getElementById("go"+listnum);
                //var go = $('.tab_main'+listnum+' .go')[0];
                var myChart = echarts.init(go);
                goMarkdata = [
                                {
                                    type: 'max', name: '最大值',
                                    symbolSize: 1,
                                    itemStyle: {
                                        normal: {
                                            color: '#FFFFFF',
                                        }
                                    },
                                    label: {
                                        normal: {
                                            show: true,
                                            textStyle: {
                                                color: "#FF0600",
                                            },
                                            position: 'top',
                                            formatter: function (a, b, c) {
                                                return "         ￥" + a.value;
                                            }
                                        }
                                    }
                                },
                                {
                                    type: 'min', name: '最小值',
                                    symbolSize: 2,
                                    label: {
                                        normal: {
                                            show: true,
                                            textStyle: {
                                                color: "#FF0600"
                                            },
                                            position: 'bottom',
                                            formatter: function (a, b, c) {
                                                return "￥" + a.value ;
                                            }
                                        }
                                    }
                                }
                ];
                if (price[0].value == min || price[1].value == min || price[29].value == max || price[28].value == max) {//1min/30max，最小值放在右边
                    goMarkdata[0].label.normal.position = "insideBottomRight";
                    goMarkdata[1].label.normal.position = "insideTopLeft";
                };
                if (price[0].value == max || price[1].value == max || price[29].value == min || price[28].value == min) {//1max/30min，最大值放在右边
                    goMarkdata[0].label.position = "insideTopLeft";
                    goMarkdata[1].label.position = "insideBottomRight";
                };
                if (priceList[0].price == 0) {
                    option.tooltip.formatter = function (params, ticket, callback) {
                        if (params[0]) {
                            var mydate = new Date();
                            var dd = mydate.getFullYear() + "-" + params[0].name;
                            if (params[0].dataIndex == 0) {
                                var title = dd + " " + tools._dataConverWeek(dd) + " <br>今日已无航班</span>";
                            } else {
                                var title = dd + " " + tools._dataConverWeek(dd) + " <br>当前价：￥<span class='red'>" + params[0].value + "</span>";
                            }
                            return title;
                        }
                    }
                };
                goPrice = price;
                //myChart.setOption(option);
                /*myChart.on('click', function (params) {
                    var dname = tools._getQuery('dcity') || '北京',//出发城市名称
                        aname = tools._getQuery('acity') || '上海';//到达城市名称
                    var href = 'http://flight.baidu.com/flight/h5redirect?v=1.0&type=2&client=pcweb&app_from=aladdin&src_from=pc_aladdin_main&d_city=' + dname + '&a_city=' + aname + '&date=' + new Date().getFullYear() + "-" + params.name;
                    window.open(href);
                })*/
            };

            //返程
            function echartBackInit(obj,param) {
                var data = [], price = [], priceList = [], datas = {}, sort = [], count = 0, index=0;
                if(param.dcty == 'SHA'){
                	console.log(obj);
                }
                if(obj.prices.length == 0){
                	$('.tab_main'+listnum).remove();
                	listnum = listnum + 1;
                	tools._initCity();
                	return false;
                }
                priceList = obj.prices.slice(0, 30);
                var max = priceList[0].price, min = max;
                for (var i = 0; i < priceList.length; i++) {
                    if (priceList[i].price != 0) {
                        count += priceList[i].price
                    } else {
                        index++;
                    }
                    if (priceList[i].price > max)
                        max = priceList[i].price;
                    if (priceList[i].price < min)
                        min = priceList[i].price;
                    var datas = {
                        value: priceList[i].dDate.substr(5, 5),
                        textStyle: {
                            "align": 'center'
                        }
                    };
                    data[i] = datas;
                    data[0].textStyle.align = 'left';
                    price[i] = priceList[i].price;
                }
                if (priceList[0].price == 0) {
                    price[0] = count / (30 - index);
                    priceList[0].price = 0;
                }
                backMarkdata = [
                            {
                                type: 'max', name: '最大值',
                                symbolSize: 1,
                                itemStyle: {
                                    normal: {
                                        color: '#FFFFFF',
                                    }
                                },
                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {
                                            color: "#FF0600",
                                        },
                                        position: 'top',
                                        formatter: function (a, b, c) {
                                            return "         ￥" + a.value;
                                        }
                                    }
                                }
                            },
                            {
                                type: 'min', name: '最小值',
                                symbolSize: 1,
                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {
                                            color: "#FF0600"
                                        },
                                        position: 'bottom',
                                        formatter: function (a, b, c) {
                                            return "￥" + a.value + "         ";
                                        }
                                    }
                                }
                            }
                ];
                if (price[0] == min || price[1] == min || price[29] == max || price[28] == max) {//1min/30max，最小值放在右边
                    backMarkdata[0].label.normal.position = "insideBottomRight";
                    backMarkdata[1].label.normal.position = "insideTopLeft";
                };
                if (price[0] == max || price[1] == max || price[29] == min || price[28] == min) {//1max/30min，最大值放在右边
                    backMarkdata[0].label.position = "insideTopLeft";
                    backMarkdata[1].label.position = "insideBottomRight";
                };
                var back = document.getElementById("go"+listnum);
                //var go = $('.tab_main'+listnum+' .back')[0];
                var echart = echarts.init(back);
                option = {
                    grid: {
                        top: 25,
                        left: 10,
                        bottom: 20
                    },
                    tooltip: {
                        trigger: 'axis',
                        backgroundColor: '#FFFFFF',  //提示框背景色
                        borderColor: '#B8B8B8',
                        borderWidth: 1,
                        formatter: function (params, ticket, callback) {
                        	var mydate = new Date();
                            var dd = mydate.getFullYear() + "-" + params[0].name;
                            var title = dd + " " + tools._dataConverWeek(dd)
                        	for(var i=0;i<params.length;i++){
                        		if (params[i].value == 0) {
                                    title += " <br><span>今日已无航班</span>";
                                } else {
                                    title += " <br>"+params[i].seriesName+"：￥<span class='red'>" + params[i].value + "</span>";
                                }
                        	}
                            
                            return title;
                        },
                        textStyle: {
                            color: '#696969'
                        },
                        //position:['',''],
                        padding: 3,
                        axisPointer: {
                            lineStyle: {
                                color: '#ACACAC',
                                height: 1,
                                type: 'dotted'
                            }
                        }
                    },
                    legend: {
                        data:[param.dname+'-'+param.aname,param.aname+'-'+param.dname]
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: data,
                        axisLine: {
                            show: true,
                            lineStyle: {
                                width: 4,
                                color: '#f0f0f0',
                                type: 'solid'
                            }
                        },
                        axisLabel: {
                            show: true,
                            interval: 7,
                            margin: 5,
                            textStyle: {
                                color: '#666'
                            }
                        },
                        axisTick: {
                            show: true,
                            lineStyle: {
                                color: '#e6e6e6'
                            }
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        position: 'right',
                        splitNumber: 3,
                        axisLabel: {
                            formatter: '￥{value}',
                        },
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: ['#f0f0f0']
                            }
                        }
                    }//,
                };
                if (priceList[0].price == 0) {
                    option.tooltip.formatter = function (params, ticket, callback) {
                        if (params[0]) {
                            var mydate = new Date();
                            var dd = mydate.getFullYear() + "-" + params[0].name;
                            if (params[0].dataIndex && params[0].dataIndex == 0) {
                                var title = dd + " " + tools._dataConverWeek(dd) + " <br>今日已无航班</span>";
                            } else {
                                var title = dd + " " + tools._dataConverWeek(dd) + " <br>当前价：￥<span class='red'>" + params[0].value + "</span>";
                            }
                            return title;
                        }
                    }
                };
                option.series = [
					{
					    type: 'line',
					    name:param.dname+'-'+param.aname,
					    smooth: true,
					    symbol: 'circle',
					    showAllSymbol: true,
					    data: goPrice,
					    markPoint: {
					        data: goMarkdata
					    },
					    itemStyle: {
					        normal: {
					            borderWidth: 1,
					            color: '#378bff',
					        },
					    }
					},
					
					{
					    type: 'line',
					    name:param.aname+'-'+param.dname,
					    smooth: true,
					    symbol: 'circle',
					    showAllSymbol: true,
					    data: price,
					    markPoint: {
					        data: backMarkdata
					    },
					    itemStyle: {
					        normal: {
					            borderWidth: 1,
					            color: 'green',
					        }
					    }
					}
                 ]

                echart.setOption(option);
                listnum = listnum + 1;
                //if(!cityData[listnum])clearInterval(inittime);
                console.log(listnum);
                //console.log(cityData[listnum]);
                if(cityData[listnum]){
                	tools._initCity();
                }
                /*echart.on('click', function (params) {
                    var dname = tools._getQuery('dcity') || '北京',//出发城市名称
                        aname = tools._getQuery('acity') || '上海';//到达城市名称
                    var href = 'http://flight.baidu.com/flight/h5redirect?v=1.0&type=2&client=pcweb&app_from=aladdin&src_from=pc_aladdin_main&d_city=' + aname + '&a_city=' + dname + '&date=' + new Date().getFullYear() + "-" + params.name;
                    window.open(href);
                })*/
            }
            
            /*function myinit(){
            	aa;
            }*/
        	
        	
            //入口开始
            (function init() {
            	//for(var j =0;j<=3;j++){
            		tools._initCity();
            	//}
            	//var aa = tools._initCity();
            	//tools._initCity()
            	//var inittime = setInterval("aa",1000);
            	
            	
            }());

            
            
            
    function getChartHtml(){
    	if($('.tab_main'+listnum).length > 0)return true;
    	var prevnum = listnum - 1;
    	var html = '<div name="slide" class="tab_main'+listnum+' list">'+
            '<div class="other_box">'+
                '<div style="width:250px;height:30px;color:black; font-size:13px; float:left" class="d_a_title"><span class="go"></span><span class="back"></span></div>'+
            '</div>'+
            '<div class="tab_new" name="slideCont">'+
                '<div id="go'+listnum+'" style="width: 540px; height: 137px;"></div>'+
            '</div>'+
            '<div class="tab_new dis_none" name="slideCont">'+
                '<div id="back'+listnum+'" style="width: 540px; height: 137px;"></div>'+
            '</div>'+
        '</div>';
        $('#list').append(html);
    }
            
            

        }());

        
    </script>
</body>
</html>