<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/lib/chosen/chosen.css" rel="stylesheet">
<style>
.content{margin:0 auto;width:500px;margin-top:300px;}
</style>
</head>
<body>
        
<form method="post" action="" id="form1">
<div class="content">
	<span>出发地：</span>
	<select name="acty" id="acty">
		<option value="0">请选择城市</option>
		{volist name="citys" id="vo"}
		<option value="{$vo.id}">{$vo.city}</option>
		{/volist}
	</select>
	<br/>
	<span>目的地：</span>
	<select name="dcty[]" id="dcty" class="chosen" multiple="multiple">
		<option value="0">请选择城市</option>
		{volist name="citys" id="vo"}
		<option value="{$vo.id}">{$vo.city}</option>
		{/volist}
	</select>
	<button type="submit">查询</button>
</div>
</form>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/lib/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
if($.isFunction($('select.chosen').chosen)){
	initChosen();
}
function initChosen(){
	$('select.chosen').each(function(){
		var options = {};
		options.placeholder_text_multiple = '请选择';
		options.no_results_text = '查找不到结果为';
		options.width = '100%';
		
		if(typeof($(this).attr('max')) !== 'undefined'){
			options.max_selected_options = $(this).attr('max');
		}
		
		$(this).chosen(options);
	});
}
</script>
</body>
</html>